body{
	background-color: #66ffff;
	padding: 30px;
	color: black;
}

.avt{
	border-radius: 100px;
}
.button{
	margin-bottom: 30px;
	background-color: white;
	border: 0;
	width: 300px;
	padding: 15px 0 15px 0;
	border-radius: 100px;
	font-family: roboto;
	font-size: 17px;
	transition-duration: 0.1s;
	transition-property: color, background-color ;
	-webkit-box-shadow: 5px 8px 15px 3px #000000; 
box-shadow: 5px 8px 15px 3px #000000;
}
.button:hover{
	color: white;
	background-color: black;
}