@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  	font-family: 'Poppins', sans-serif;
}
body
{
	overflow-x: hidden; 
}
h2 {
    font-weight: 700;
    font-size: 40px;
}
h4{
    font-weight: 500;
    font-size:28px;
}
h5{
    font-weight: 700;
    font-size:22px;
}
h6{
    font-weight:700;
}
/* Common  */
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ml-24px {
    margin-left: 24px;
}
.ml-32px {
    margin-left: 32px;
}
.mt-24px {
    margin-top: 24px;
}
.mb-24px {
    margin-bottom: 24px;
}
.x {
    border: 5px solid #555;
    width: 20%;
}
.pdt-24px {
    padding-top: 24px;
}
.pdb-69px {
    padding-bottom: 69px;
}
.container{
    position: relative;

}

.background {
    width: 100%;
    height: 320px;
    overflow: hidden;
}
.title {
    position: absolute;
    z-index: 10000;
    top: 20%;
    left: 10%;
}
.name {
    position: absolute;
    color: #333;
    right: 5%;
    z-index: 10000;
}
.avt {
    border-radius: 50%;
    width: 20%;
}
.col-lg-8 {
    background-color:rgb(209, 209, 209);
}

.content {
    padding-left: 28px;
    padding-right: 28px;
}
.content-title {
    color: #555;
}
.content-body ul li {
    list-style: none;
}