body{
    margin-top:20px;
    color:white;
    text-align: left;
    background-color:#1A233A; 
}
.main-body {
    padding: 15px;
}
.breadcrumb{
    background-color: #3d3d3d;
}
.breadcrumb-item.active {
    color: white;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:#3d3d3d;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    }
.col-sm-9 {
    font-weight: 500;
    font-size:20px;

}
.text-secondary{
    color:white;
}
.list-group-item{
    background-color:#3d3d3d;
}
